<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="Database"
         connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Database;Trusted_Connection=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>